* {
    border-radius: 0 !important;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    background-color: #f2f2f2;
    text-align: center;
}

.formWrap {
    width: 300px;
    padding: 10px 0 20px 0;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 3px #ddd;
}

input {
    width: 90% !important;
    margin: 0 auto;
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid #ddd;
}
input:focus {
    border: 1px solid #ddd !important;
}

.res {
    margin-bottom: 10px;
    font-weight: bold;
}

h1 {
    font-family: 'Covered By Your Grace', cursive;
}
